.container {
    display: flex;
    width: 100rem;
    justify-content: center;
}

/* i componenti di card sono inseriti al suo interno */
.slide {
    padding: 0.5rem;
    display: none;
    .card-img {
        img {
            width: 30rem;
            height: 30rem;
            object-fit: cover;
            object-position: top right;
        }
    }

    .info-container {
        width: 30rem;
        position: absolute;
        padding: 0.5rem;
        top: 30rem;
        color: rgba(255, 255, 255, 0);
    }
}

/* all'hover su card apparirà il contenitore info inizialmente trasparente */
.slide:hover {
    .info-container {
        color: rgba(250, 235, 215, 0.899);
        background-color: rgba(0, 0, 0, 0.46);
    }
}

.active {
    display: block;
}

button {
    width: 4rem;
}

#prev {
    position: absolute;
    top: 23rem;
    left: 20rem;
}

#next {
    position: absolute;
    top: 23rem;
    right: 20rem;
}
